Source: idle-spindown
Section: misc
Maintainer: Franz Gregor <rentafranz@gmail.com>
Build-Depends: debhelper (>= 5)

Package: idle-spindown
Architecture: all
Depends: sdparm
Description: idle-spindown provides a script which will spin down harddrives when they are idle.
 You have to configure /etc/cron.d/idle-spindown to your specific needs (idle time, harddrives).
